@model entity_course_ude.Models.ProductCategoryViewModel
@{
    ViewData["Title"] = "Crear producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">Crear un nuevo producto</h3>
<form method="post" asp-action="Create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-11 mt-4">
            <div class="row">
                <div class="col-4">
                    <label asp-for="Product.Name">Nombre</label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Name" class="form-control" />
                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="Product.Description">Descripcion</label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Description" class="form-control" />
                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="Product.Grade">Calificación</label>
                </div>
                <div class="col-8">
                    <input type="range" asp-for="Product.Grade" steps="0.01" min="0" max="10" class="form-control" />
                    <span asp-validation-for="Product.Grade" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="Product.Date">Fecha</label>
                </div>
                <div class="col-8">
                    <input asp-for="Product.Date" class="form-control" />
                    <span asp-validation-for="Product.Date" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label asp-for="Product.Category">Categorías</label>
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(u => u.Product.Category_Id, Model.CategoryList, "--Lista de Categorías", new {@class = "form-control"})
                    <span asp-validation-for="Product.Category_Id" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row mt-4">
        <div class="col-3">
            <a asp-action="Index" class="btn btn-secondary">Volver a lista</a>
        </div>
        <div class="col-5 offset-4">
            <button type="submit" class="btn btn-primary form-control">Crear</button>
        </div>
    </div>
</form>

@section  Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}